<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mythic+ Damage Table</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="static/css/sidebar.css">
</head>

<body>
    <div id="wrapper" class="container-fluid">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href=""> MPLUS DAMAGE TABLE</a>
                </li>
                <li>
                    <a href="#" v-on:click="a">영혼의 융합체: 영혼 대폭발</a>
                </li>
                <li>
                    <a href="#" v-on:click="b">혐오스러운 원한강타: 지축붕괴 발구르기</a>
                </li>
                <li>
                    <a href="#" v-on:click="c">로크모라: 산산조각</a>
                </li>
                <li>
                    <a href="#" v-on:click="d">자칼:사악한 격돌</a>
                </li>
                <li>
                    <a href="#" v-on:click="e">증오갈퀴 여군주: 집중된 번개</a>
                </li>
                <li>
                    <a href="#" v-on:click="f">나무심장: 부서진 대지</a>
                </li>
                <li>
                    <a href="#" v-on:click="g">자비우스의 망령: 악몽화살</a>
                </li>
                <li>
                    <a href="#" v-on:click="h">자비우스의 망령: 대재앙의 악몽</a>
                </li>
                <li>
                    <a href="#" v-on:click="i">하임달: 뿔피리</a>
                </li>
                <li>
                    <a href="#" v-on:click="j">스코발드: 지옥화염쇄도</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- 데미지 테이블 레이아웃 -->
        <div id="damage_table">
            <center>
                <h1> {{ named }} </h1>
                <h2 class="text-danger">{{ isPhysical }}</h2>
                <p>{{ comment }}</p>
                <p>{{ joke }}</p>
            </center>

            <div id="damage_table_table">
                <transition appear name="slide-fade">
                    <table class="table table-hover" v-if="bodyItems.length > 0">
                        <thead>
                            <tr>
                                <th v-for="item in headItems">
                                    {{ item.label }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item in bodyItems">
                                <th>{{ item.level }}</th>
                                <td>{{ item.oneDamage }}</td>
                                <td>{{ item.twoDamage }}</td>
                                <td><span class="label label-warning">{{ item.safety }}</span></td>
                                <td><span class="label label-warning">{{ item.prydazSafety }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                </transition>
            </div>
        </div>
        <!-- /데미지 테이블 레이아웃 -->

        <center>
            <h3 class="text-muted">Made by. 쐐차앙-아즈샤라</h3>
        </center>
    </div>

    <script src="static/js/index.js"></script>
</body>

</html>